@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>TimeTracker</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to TimeTracker</h2>
        <p>
           TimeTracker is an application that allows you to keep track of how you are spending your time. It's flexible enough to track your time spent at work, play, or all day. It's all up to you!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>After logging in, you can click on "New Entry" to get started. You can create categories, select a date, and input the amount of minutes that you are spending on the category. When you are finished entering data, you can save it. Click on "User Categories" in the NavBar to view all of your entries. Click on "Monthly" in the NavBar to view a monthly snapshot of how you're spending your time.</p>
    </div>
  
</div>
