@model TimeTracker.Models.UserCategoriesViewModels.UserCategoriesIndexViewModel

@{
    ViewData["Title"] = "IndexPost";
}

<h1>Categories</h1>
<p>Successfully posted!</p>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@*namespace TimeTracker.Views.Categories
{
    public class IndexPost
    {
    }
}*@
