@model TimeTracker.Models.Category

@{
    ViewData["Title"] = "InvalidEntry";
}

<h1>Delete</h1>

<h3>You've already entered this date.</h3>
<div>
    <form>
        <a asp-action="Index">Back to List</a>
    </form>
</div>

