@model TimeTracker.Models.Category

@{
    ViewData["Title"] = "InvalidEntry2";
}

<h1>Invalid Entry</h1>

<h3>You need to select a date and fill out all fields. Please try again.</h3>
<div>
    <form>
        <a asp-action="Index">Back to List</a>
    </form>
</div>
