@model IEnumerable<TimeTracker.Models.UserCategory>

@{
    ViewData["Title"] = "Index";
}

<h1>Month Links</h1>


<table class="table">
    <thead>

    </thead>
    <tbody>
        @Html.RouteLink("January", new { action = "IndexMonth1", controller = "Monthly", })
    </tbody>
</table>
