@model TimeTracker.Models.MonthlyViewModels.MonthlyIndexViewModel

@using System.Globalization;

@{
    ViewData["Title"] = "Index";
}

<h1>Select a Month</h1>
<form asp-controller="Monthly" asp-action="IndexMonth1" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table class="table">
        <thead>

        </thead>
        <tbody>

            <div class="form-group">
                <select asp-for="MonthId" asp-items="@Model.Months"></select>
            </div>

            <div class="form-group">
                <select asp-for="YearId" asp-items="@Model.Years"></select>
            </div>

        </tbody>
    </table>
    <input type="Submit" value="Save" />
</form>


